body {
	margin: 0;
}

.main_header {
	display: flex;
	align-items: center;
	background-color: #2e323f;
	padding: 0 6rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.logo {
	flex-grow: 1;
	flex-basis: 0;
	color: #fff;
	font-size: 2rem;
}

.header_menu {
	flex-grow: 1;
	flex-basis: 0;
}

.menu_container {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.menu_item {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.rounded {
	background-color: #a59678;
	padding: 0.25rem 1rem;
	border-radius: 100px;
}

.section_first {
	display: flex;
	background-color: #3b4050;
	padding: 6rem;
}

.section_first_left {
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	color: #fff;
	line-height: 6rem;
	flex-grow: 1;
	flex-basis: 0;
}

.text_dark {
	color: #a59678;
}

.section_first_right {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #fff;
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.section_first_right .rounded {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	padding: 0.5rem 3rem;
	align-self: start;
}

.section_second {
	padding: 6rem;
	display: flex;
	justify-content: space-between;
	background-color: #f1f1f1;
	text-align: center;
}

.section_second article:not(:last-child) {
	margin-right: 8rem;
}

.section_second article h2{
	color: #a59678;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.section_second article p {
	color: #3B4050;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.section_thrid {
	padding: 6rem;
	display: flex;
	background-color: #FFFFFF;

}

.section_thrid h2 {
	color: #a59678;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
}

.section_thrid p {
	color: #3B4050;
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
}

.section_thrid article {
	margin-bottom: 30px;
    background-color: #3b4050;
    padding: 1rem;
}

.section_thrid article h2 {    
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
}

.section_thrid article p {
	font-family: 'Montserrat', sans-serif; 
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
}

.section_thrid_right {
    flex-grow: 2;
    flex-basis: 0;
}

.section_thrid_left {
	flex-grow: 3;
	flex-basis: 0;
	padding-right: 80px;
}

.section_thrid_left img {
	display: block;

}